.style{
    font-family: Arial, Helvetica, sans-serif;

}
.Card {
    width: 50%;
    margin: 15px;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgb(212, 212, 214);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    float:left;
    /* height: 300px;  */


}